<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
    <head></head>
    <body>
        连接服务器
            <button>Submit</button>
        </a><script src="popup.js"></script>
        <div class="search-input-wrap clearfix">
            <div class="form-input-wrap f-l">
                <form action="" class="input-kw-form">
                    <input type="search" autocomplete="off" name="baike-search" placeholder="URL" class="input-kw">
                </form>
                <i class="iconfont if-message"></i>
                <i class="iconfont if-close"></i>
            </div>
        
        
<html>
    <!DOCTYPE html>
<html>
